<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <ol><li><a href="http://127.0.0.1:8000/prima_app/index">index</a></li>
        <li><a href="http://127.0.0.1:8000/prima_app/welcome">home page welcome</a></li>
        <li><a href="http://127.0.0.1:8000/prima_app/menu">menu</a></li>
        <li><a href="http://127.0.0.1:8000/prima_app/chi_siamo">chi siamo</a></li>
        <li><a href="http://127.0.0.1:8000/prima_app/variabili">variabili</a></li>
    </ol>
</body>
</html>